.CodeMirror {
  background: transparent;
  height: auto;
}

.CodeMirror .cm-line::selection,
.CodeMirror .cm-line > span::selection {
  background: var(--selectionColor);
}

.CodeMirror.cm-focused .cm-selectionBackground,
.CodeMirror .cm-selectionBackground {
  background: var(--selectionColor);
}
